/* Estilos para desktop */
@media screen and (min-width: 768px) {
  .resize-img{
    width: 100%;
    height: auto;
  }

  .banner iframe{
    width: 100%;
    height: 500px;
  }
}

/* Estilos para mobile */
@media screen and (max-width: 768px) {
  .car-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .car-content .col-4{
    width: 100%;
  }

  .resize-img{
    width: 100%;
    height: 100%;
  }

  .content {
    max-width: 100%;
    padding: 10%;
  }

  .hide-on-mobile{
    display: none;
  }

  .banner iframe{
    width: 100%;
    height: 300px;
  }
}


/* Estilos del footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.car-content{
  margin-bottom: 2em;
}